.gracias{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.gracias h1{
    font-size: 7em;
    position: relative;
    z-index: 2;
    color: var(--vinotinto);
    text-shadow: 2px 9px  3px var(--gris-fondo), 2px 9px  3px var(--gris-fondo) ;
}

.gracias p{
    font-size: 3em;
    width: 50%;
    margin: auto;
    text-align: center;
    border: 4px solid var(--vinotinto);
    border-radius: 24px;
    padding: 24px;
    margin-top: -38px;
    position: relative;
    z-index: 1;
}

@media(max-width:768px){
    .gracias p{
        width: 100%;
    } 
}