<app-header></app-header>
<section class="favorites ">
  <div class="container-fluid">
    <div class="row">
      <!----info-->
      <div class="areagris"></div>
      <div class="areablanc areablanc-interna animated fadeInUp">
        <div class="div-responsive1">
          <app-backButtn [pageTitle]="pageTitle" [Title]="Title"></app-backButtn>
          <div class="post-inner">
            <h5>Abogados</h5>
            <div class="carousel-inner-data">
                <!--  -->
                <div class="post navTabs" >
                    <div class=" itemFav shadow "  *ngFor="let item of profiles">
                        <div class="group  itemFav lastposthome">
                            <a [routerLink]="['/especialista/', item.user_id]">
                                <img *ngIf="!item.avatar" [src]="item.avatar  | imagenPipe: 'users' " alt="">
                                <img *ngIf="item.avatar" [src]="item.avatar  " alt="">
                            </a>
                            <div class="div1">
                                <h4 style="margin: 0; padding: 0;">{{item.nombre}} {{item.surname}}</h4>
                                <h5 style="margin: 0; padding: 0;">{{item.ciudad}}</h5>
                                <p style="margin: 0; padding: 0;">{{item.description | slice:0:45}}...</p>
                                <div class="stars">
                                    <!-- <ul>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul> -->

                                    <ul class="star-rating" *ngIf="item.rating === 5">
                                      <li class="active"><i class="fa fa-star "></i></li>
                                      <li class="active"><i class="fa fa-star "></i></li>
                                      <li class="active"><i class="fa fa-star "></i></li>
                                      <li class="active"><i class="fa fa-star "></i></li>
                                      <li class="active"><i class="fa fa-star "></i></li>
                                  </ul>
                                  <ul class="star-rating" *ngIf="item.rating >= 4 && item.rating < 5">
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                  </ul>
                                  <ul class="star-rating" *ngIf="item.rating >= 3 && item.rating < 4">
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                  </ul>
                                  <ul class="star-rating" *ngIf="item.rating >= 2 && item.rating < 3">
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                  </ul>
                                  <ul class="star-rating" *ngIf="item.rating >= 1 && item.rating < 2">
                                    <li class="active"><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                  </ul>
                                  <ul class="star-rating" *ngIf="item.rating >= 0 && item.rating < 1">
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                    <li ><i class="fa fa-star "></i></li>
                                  </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>
            </div>
            
          </div>
        </div>
        <!-- lateral -->
        <app-lateral></app-lateral>
        <!-- lateral -->
      </div>

      <!---info-->
    </div>
  </div>
</section>
<app-menu-footer></app-menu-footer>
