<app-header></app-header>
<section class="user">
  <div class="container-fluid">
    <div class="row">
      <div class="areagris"></div>

      <div class="areablanc areablanc-interna animated fadeInUp">
        <div class="div-responsive1">
          <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
          <div class="group itemFav shadow">
            <img *ngIf="!profile.avatar" [src]="profile.avatar  | imagenPipe: 'users' " alt="">
            <img *ngIf="profile.avatar" [src]="profile.avatar  " alt="">
            <div class="div1">
              <p>{{user.username}}</p>
              <p *ngIf="profile">{{profile.nombre}} {{profile.surname}}</p>
              <p>{{user.email}}</p>
              <p *ngIf="speciality">{{speciality.title}}</p>
              <p>{{user.roles}}</p>
              <!-- <p *ngIf="profile">{{profile.status}}</p> -->
              <span class="badge  bg-primary" *ngIf="profile.status === 1">Pendiente</span>
              <span class="badge bg-success" *ngIf="profile.status === 2">Verificado</span>
              <span class="badge bg-danger" *ngIf="profile.status === 3">Por revisar</span>
              <br>
              

            </div>
          </div>
          <div class="admin-services">
            <a [routerLink]="['/profile/edit', user.id]">
              <div class="option-admin">
                <i class="fa fa-user"></i>
                <p>Edit Profile</p>
              </div>
            </a>
            <a [routerLink]="['/profile/paymentmethods', user.id]" *ngIf="user.roles[0] !== 'SUPERADMIN'">
              <div class="option-admin">
                <i class="fa fa-user"></i>
                <p>paymentmethods</p>
              </div>
            </a>
            <a routerLink="/profile/settings" *ngIf="user.roles[0] !== 'SUPERADMIN'">
              <div class="option-admin">
                <i class="fa fa-user"></i>
                <p>Settings</p>
              </div>
            </a>
            <a routerLink="/profile/documents" *ngIf="user.roles[0] !== 'SUPERADMIN'">
              <div class="option-admin">
                <i class="fa fa-user"></i>
                <p>Documents</p>
              </div>
            </a>
            <div class="option-admin" *ngIf="user.roles[0] !== 'SUPERADMIN'">
              <i class="fa fa-user"></i>
              <p>Messages</p>
            </div>
            <div class="option-admin" *ngIf="user.roles[0] !== 'SUPERADMIN'">
              <i class="fa fa-user"></i>
              <p>Notifications</p>
            </div>
            <a (click)="logout()">
              <div class="option-admin">
                <i class="fa fa-user"></i>
                <p>Logout</p>
              </div>
            </a>
          </div>

          <!--banner publicidad-->
          <div class="banner-rectangular">
            <img src="https://picsum.photos/seed/1920/120" alt="" />
          </div>
          <!--banner publicidad-->
        </div>

        <!-- lateral -->
        <app-lateral></app-lateral>
        <!-- lateral -->
      </div>
    </div>
  </div>
</section>
<app-menu-footer></app-menu-footer>