<app-header></app-header>
<section class="user">
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">
          <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
          <app-fichaprofile [loadingTitle]="loadingTitle" [isLoading]="isLoading" [profile]="profile" [user]="user" [redessociales]="redessociales"></app-fichaprofile>
          
  
          <!--banner publicidad-->
          <div class="banner-rectangular">
            <img src="https://picsum.photos/seed/1920/120" alt="" />
          </div>
          <!--banner publicidad-->
        </div>
  
        <!-- lateral -->
        <div class="col-xs-12 col-sm-3 col-md-3">
          <app-lateral></app-lateral>
  
      </div>
        <!-- lateral -->
      </div>
    </div>
   </div>
</section>
<app-menu-footer></app-menu-footer>