.active{
    color: red
}

.nav-link {
  transition: all 0.2s ease-in-out;
}

.active-link i {
  transform: scale(1.4);
  display: inline-block;
  color: #007bff; /* Cambia el color del icono activo */
}