<app-header></app-header>
<section class="home" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="2"
  [infiniteScrollThrottle]=" 50" (scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()"
  [class.refreshing]="isRefreshing">
  <div class="pull-down-indicator" *ngIf="isRefreshing">
    <app-loading></app-loading>
    <p class="text-center">
      {{'Refreshing'|translate}} ...
    </p>
  </div>

  <app-loading *ngIf="isLoading"></app-loading>
  <div class="container" *ngIf="!isLoading">
    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
    <!-- contactos -->
    <div *ngFor="let item of clientes">
      <div class="card border-0 shadow-sm mb-3 ">
        <div class="group itemFav shadow">

          <div class="div1pagocon ">
            <div class="d-flex  justify-content-between">
              <div class="inf">
                <p>{{item.cliente.username}}</p>
                <small>{{item.cliente.email}}</small>
              </div>
              <button class="btn btn-outline-primary" (click)="abrirDetalle(item.cliente.uid)">
                <i class="fa fa-eye"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- OFFCANVAS DETALLE -->
<div class="offcanvas offcanvas-bottom rounded-top-5 h-75" tabindex="-1" id="offcanvasNotif"
  style="height: auto; max-height: 60vh; border-radius: 25px 25px 0 0;">
  <div class="offcanvas-header border-bottom py-3">
    <h5 class="offcanvas-title fw-bold ">Detalle de Perfil</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
  </div>
  <app-loading *ngIf="isLoadingFicha"></app-loading>
  <div class="offcanvas-body p-4" *ngIf="cliente_selected && !isLoadingFicha">
    <div class="tarjetacliente">
      <div class="tc_middle">
        <div class="tc_imagem">
          <img *ngIf="profile" [src]="(profile.img || '') | imagenPipe: 'profiles' " alt="">
        </div>

        <div class="tc_info">
          <p>{{'Name'|translate}}: {{profile?.first_name}} {{profile?.last_name}}</p>
          <p>{{'Country'|translate}}: {{profile?.pais}}</p>
          <p>{{'City'|translate}}: {{profile?.ciudad}}</p>
          <p>{{'Gender'|translate}}: {{profile?.gender}}</p>
          <p>{{'Description'|translate}}: {{ profile?.shortdescription }}</p>
           <app-redessociales [redessociales]="redessociales"></app-redessociales>
          <app-ratingStar *ngIf="profile && user" [profile]="profile"></app-ratingStar>
        </div>
      </div>
    </div>
    <div class="tc_actions">
      <!-- si existe la relacion de cliente con el usuario usamos el id del cliente -->
      <div class="btn-group" role="group">
        <button type="button" (click)="deleteContact(cliente_selected)" class="btn btn-danger">
          <i class="fa fa-trash"></i>
        </button>

        <button type="button" [routerLink]="['/chat/', cliente_selected]" class="btn btn-success">
          <i class="fa fa-comment" aria-hidden="true"></i>
        </button>

      </div>
    </div>


  </div>

</div>
<app-menu-footer></app-menu-footer>