<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Condiciones</h5>
                <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fa fa-close"></i></span>
                  </button> -->
            </div>
            <div class="modal-body">
                <div class="container">
                    <h1>Condiciones</h1>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos dolore rem tenetur obcaecati illo totam blanditiis accusantium beatae deserunt, atque unde rerum, necessitatibus nulla vero ullam illum recusandae, consequatur veniam?</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>