<app-header></app-header>
<section class="favorites ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9">
        <app-backButtn [pageTitle]="pageTitle"></app-backButtn>

        <app-loading *ngIf="isLoading" ></app-loading>

        <div class="refresh-container" [class.refreshing]="isRefreshing">
            <div class="pull-down-indicator" *ngIf="isRefreshing">
               refresh...
          
            </div>
            <div class="content" *ngIf="!isLoading">
              <!-- Your main content here -->
          
              <div class="carousel-inner-data">
                <div class="post navTabs">
                    <div class=" itemFav">
                        <div class="group  itemFav lastposthome">
                            <a href="lawyer-profile.html">
                                <img src="assets/users/3.jpg" alt="">
                            </a>
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Lorem ipsum dolor sit amet consectetur...</p>
                                <div class="stars">
                                    <ul>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" itemFav">
                        <div class="group  itemFav lastposthome">
                            <a href="lawyer-profile.html">
                                <img src="assets/users/3.jpg" alt="">
                            </a>
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Lorem ipsum dolor sit amet consectetur...</p>
                                <div class="stars">
                                    <ul>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" itemFav">
                        <div class="group  itemFav lastposthome">
                            <a href="lawyer-profile.html">
                                <img src="assets/users/3.jpg" alt="">
                            </a>
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Lorem ipsum dolor sit amet consectetur...</p>
                                <div class="stars">
                                    <ul>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" itemFav">
                        <div class="group  itemFav lastposthome">
                            <a href="lawyer-profile.html">
                                <img src="assets/users/3.jpg" alt="">
                            </a>
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Lorem ipsum dolor sit amet consectetur...</p>
                                <div class="stars">
                                    <ul>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li class="active"><i class="fa fa-star"></i></li>
                                        <li><i class="fa fa-star"></i></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            
            
            
            
            
                </div>
            </div>
              
            </div>
          </div>
        
      
      </div>
      <!-- lateral -->
      <div class="col-xs-12 col-sm-3 col-md-3">
        <app-lateral></app-lateral>

    </div>
    </div>
  </div>
</section>
<app-menu-footer></app-menu-footer>
