<app-header></app-header>
<section class="favorites " infiniteScroll 
[infiniteScrollDistance]="2"  [infiniteScrollUpDistance]="2" 
[infiniteScrollThrottle]=" 50"
(scrolled)="onScrollDown()" (scrolledUp)="onScrollUp()"

[class.refreshing]="isRefreshing"
>
<div class="pull-down-indicator" *ngIf="isRefreshing">
    <app-loading  ></app-loading>
    <p class="text-center">
        {{'Refreshing'|translate}} ...
    </p>
    

 </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-sm-9 col-md-9">
        <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
        
        <form class="d-flex shadowSearch col-xs-12 col-sm-10" *ngIf="!isLoading">
            <input class="form-control me-2" type="search" placeholder="{{'Search' |translate}}" aria-label="Search">
            <button class="btn btn-outline-success btn-seach" type="submit"><i
                class="fa fa-search"></i></button>
            </form>
        <app-loading *ngIf="isLoading" ></app-loading>



        <div class="carousel-inner-data" *ngIf="!isLoading">
            <div class="post navTabs" *ngIf="characters.length > 0 else message">
                <div class=" itemFav" *ngFor="let character of characters; trackby: trackByCharacterId">
                    <div class="group  itemFav lastposthome">
                        <a href="lawyer-profile.html">
                            <img [src]="character.image" alt="">
                        </a>
                        <div class="div1">
                            <p>{{character.name}}</p>
                            <p>{{character.species}}</p>
                            <p>{{character.gender}}</p>
                            <!-- <p>Lorem ipsum dolor sit amet consectetur...</p> -->
                            <div class="stars">
                                <ul>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li class="active"><i class="fa fa-star"></i></li>
                                    <li><i class="fa fa-star"></i></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            <ng-template #message>
                <p>lista vacia</p>
            </ng-template>
            <ng-template *ngIf="isEdnOfList">
                <p>{{loadingTitle}}</p>
            </ng-template>
        </div>
      
      </div>
      <!-- lateral -->
      <div class="col-xs-12 col-sm-3 col-md-3">
        <app-lateral></app-lateral>

    </div>
    </div>
  </div>
</section>
<app-menu-footer></app-menu-footer>
