<app-header></app-header>
<section class="user-document home">
    <div class="container-fluid">
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">

                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
                    <div class="admin-services">
                        <a routerLink="/profile/documents/files">
                            <div class="option-admin">
                                <i class="fa fa-user"></i>
                                <p>Scan Documents</p>
                            </div>
                        </a>
                        <div class="option-admin">
                            <i class="fa fa-user"></i>
                            <p>Upload Document</p>
                        </div>
                        <div class="option-admin">
                            <i class="fa fa-user"></i>
                            <p>Client Document</p>
                        </div>

                    </div>

                    <form class="d-flex shadowSearch">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success btn-seach" type="submit"><i class="fa fa-search"></i></button>
                    </form>



                    <div class="post-inner">
                        <div class="inner-data">
                            <!---carpetas vertical -->
                            <ul class="post ">
                                <li class="group carpetas">
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="div-group ">
                                        <a routerLink="/profile/documents/files">

                                            <div class="folder-info">
                                                <div class="menu-opt">

                                                    <i class="fa fa-list"></i>
                                                </div>
                                                <i class="fa fa-folder"></i>
                                                <h2>Name Category</h2>
                                            </div>
                                        </a>
                                    </div>

                                </li>
                            </ul>
                        </div>

                    </div>


                </div>

                <app-lateral></app-lateral>
        </div>

    </div>
    </div>
</section>
<app-menu-footer></app-menu-footer>
