.itemlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    & .info_itemlist{
        display: flex;
        align-items: flex-start;
        flex-direction: column;

    }
    & .buttons{
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        align-self: flex-end;
    }
}
.post{
    display: flex;
    flex-direction: row;
}
.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.div-group{
    height: auto;
}

.columnadoble{
    column-count: 2;
}

@media (max-width: 768px) {
    .columnadoble{
        column-count: 1;
    }
}
