<app-header></app-header>
<section class="user">
    <div class="container-fluid">
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">


                <div class="div-responsive1">

                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>
                    <div class="group  itemFav shadow">
                        <img [src]="'/users/1.jpg'" alt="">
                        <div class="div1">
                            <p>John Doe.</p>
                            <p>Johndoe&#64;gmail.com</p>
                            <p>User</p>
                            <div class="botonera">
                                <div class="button "><i class="fa fa-folder"></i></div>
                                <div class="button "><i class="fa fa-camera"></i></div>
                            </div>

                        </div>

                    </div>
                    <div class="clear"></div>

                    <div class="post-inner">

                        <div class="form">
                            <form action="">
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="first name" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="last name" aria-label=".form-control-lg example">
                                </div>


                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Email" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Phone number" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Home Address" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Business Address" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <select name="" id="" class="form-control form-control-md">
                                        <option value="0">Select Carrer</option>
                                        <option value="0">Category 1</option>
                                        <option value="0">Category 2</option>
                                        <option value="0">Category 3</option>
                                        <option value="0">Category 4</option>
                                    </select>
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Insert Carrer" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="Card Asoc ID" aria-label=".form-control-lg example">
                                </div>
                                <div class="col-auto mb-2">
                                    <input class="form-control form-control-md" type="text" placeholder="social network Address" aria-label=".form-control-lg example">
                                </div>

                                <div class="form-group">
                                    <div class="">
                                        <div class="form-check form-control-md">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                            <label class="form-check-label" for="flexCheckDefault">
                                              Male
                                            </label>
                                        </div>
                                        <div class="form-check form-control-md">
                                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                            <label class="form-check-label" for="flexCheckChecked">
                                              Female
                                            </label>
                                        </div>
                                        <div class="col-auto mb-2">
                                            <label for="">Accept Notification</label>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>

                                        <div class="col-auto mb-2">
                                            <label for="">Accept Terms & Conditions</label>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                        <div class="col-auto mb-2">
                                            <label for="">Accept Terms & Conditions</label>
                                            <div class="form-check form-switch">
                                                <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                                <label class="form-check-label" for="flexSwitchCheckDefault">Acept</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="botonera">
                                    <div class="button btn-simple-gray">Cancelar</div>
                                    <div class="button btn-full-red">Actualizar</div>
                                </div>

                            </form>
                        </div>

                        <!--auth verify-->

                        <div class="verifyThirtPart">
                            <h1>Verificar Identidad</h1>
                            <div class=" group">
                                <i class="fa fa-google" aria-hidden="true"></i>
                                <div class="div1">
                                    <h2>Google Verify</h2>
                                    <p>emailaddress&#64;gmail.com</p>
                                </div>
                            </div>
                            <div class=" group">
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                <div class="div1">
                                    <h2>Professional Verify</h2>
                                    <p>photo with id card</p>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>

                <div class="div-responsive2">

                    <div class="lateral">
                        <div class="group  itemFav shadow">
                            <img src="assets/users/1.jpg" alt="">
                            <div class="div1">
                                <p>John Doe.</p>
                                <p>Johndoe&#64;gmail.com</p>
                                <p>User</p>

                            </div>
                        </div>

                        <div class="banner-c">
                            <img src="https://picsum.photos/seed/car/500/500" alt="">
                        </div>
                    </div>
                </div>







        </div>

    </div>
    </div>
</section>
<app-menu-footer></app-menu-footer>
