<app-header></app-header>
<section class="user">
    <div class="container-fluid">
        <div class="row">

            <div class="areagris">
            </div>

            <div class="areablanc areablanc-interna animated fadeInUp">
                <div class="div-responsive1">

                    <app-backButtn [pageTitle]="pageTitle"></app-backButtn>

                    <div class="post-inner">
                        <h3>Active o desactive las opciones de la app</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat nobis at aperiam molestiae ab, quibusdam quidem laborum debitis, qui accusamus fuga sequi cupiditate! Neque placeat, perspiciatis voluptatem consequatur porro
                            hic!
                        </p>
                        <div class="container">
                            
                                <div class="tab-pane" id="address" role="tabpanel" aria-labelledby="address-tab">
                                    
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-5" *ngIf="!tipoSeleccionado">
                                            <form  class="rbt-profile-row rbt-default-form row row--15">
                                                <div class="form-group col-xs-12">
                                                    <label for="exampleInputEmail0">Tipo de Pago<span class="required">*</span></label>
                                                    <select name="tipo" id="input" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipo" (change)="selectedTypeEdit($event.target)">
                                                        <option value="seleccione">Seleccione</option>
                                                        <option value="Transferencia Dólares">Transferencia Dólares</option>
                                                        <option value="Transferencia Bolivares">Transferencia Bolívares</option>
                                                        <option value="pagomovil">Pago Móvil</option>
                                                        <option value="zelle">Zelle</option>
                                                    </select>
                            
                                                </div>
                                                <div class="clear"></div>
                                                
                                            <!-- transferencia -->
                                            <div *ngIf="pagoSeleccionado == 'Transferencia Dólares'"  class="card p-3">
                                                <div class="card-body">
                                                    <h4>Transferencia</h4>
                                                    <div class="row">
                                                        <div class="form-group col-xs-12">
                                                            <label for="exampleInputEmail1">Tipo de Cuenta<span class="required">*</span></label>
                                                            <select name="bankAccountType" id="input" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccountType">
                                                                <option value="">Seleccione</option>
                                                                <option value="ahorro">Ahorro</option>
                                                                <option value="corriente">Corriente</option>
                                                            </select>
                        
                                                        </div>
                                                        <div class="form-group col-xs-12">
                                                            <label for="exampleInputEmail1">Num. de Cuenta</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccount" name="bankAccount" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12">
                                                            <label for="exampleInputEmail1">Nombre del Banco</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankName" name="bankName" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Ci/iD ó RIF</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="ciorif" name="ciorif" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="id">
                                                <button (click)="save()" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </div>
                                            <!-- transferencia -->
                                            <!-- transferencia -->
                                            <div *ngIf="pagoSeleccionado == 'Transferencia Bolivares'"  class="card p-3">
                                                <div class="card-body">
                                                    <h4>Transferencia</h4>
                                                    <div class="row">
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Nombre del Banco</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankName" name="bankName" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12">
                                                            <label for="exampleInputEmail1">Tipo de Cuenta<span class="required">*</span></label>
                                                            <select name="bankAccountType" id="input" class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccountType">
                                                                <option value="">Seleccione</option>
                                                                <option value="ahorro">Ahorro</option>
                                                                <option value="corriente">Corriente</option>
                                                            </select>
                        
                                                        </div>
                                                        <div class="form-group col-xs-12">
                                                            <label for="exampleInputEmail1">Num de Cuenta</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankAccount" name="bankAccount" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Ci/iD ó RIF</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="ciorif" name="ciorif" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="id">
                                                    <button (click)="save()" class="btn btn-primary">Guardar</button>
                                                </div>
                                            </div>
                                            <!-- transferencia -->
                                            <!-- pagomovil -->
                                            <div *ngIf="pagoSeleccionado == 'pagomovil'" class="card p-3">
                                                <div class="card-body">
                                                    <h4>Pago Móvil</h4>
                                                    <div class="row">
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Nombre del Banco</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankName" name="bankName" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 col-sm-6">
                                                            <label for="exampleInputEmail1">Ci o RIF</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="ciorif" name="ciorif" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 col-sm-6">
                                                            <label for="exampleInputEmail1">Télefono</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="phone" name="phone" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <!-- <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="id"> -->
                                                        <button (click)="save()" class="btn btn-primary">Guardar</button>
                                                </div>    
                                            </div>
                                            <!-- pagomovil  -->
                                            <!-- zelle -->
                                            <div *ngIf="pagoSeleccionado == 'zelle'" class="card p-3">
                                                <div class="card-body">
                                                    <h4>Zelle</h4>
                                                    <div class="row">
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Nombre del Banco</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="bankName" name="bankName" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Nombre de Usuario</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="username" name="username" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">email</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="email" name="email" type="text" class="form-control">
                                                        </div>
                                                        <div class="form-group col-xs-12 ">
                                                            <label for="exampleInputEmail1">Ci/iD ó RIF</label>
                                                            <input [ngModelOptions]="{standalone: true}" [(ngModel)]="ciorif" name="ciorif" type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    
                                                    <!-- <input type="hidden" [ngModelOptions]="{standalone: true}" [(ngModel)]="id"> -->
                                                        <button (click)="save()" class="btn btn-primary">Guardar</button>
                                                </div>    
                                            </div>
                                            <!-- zelle  -->
                                            </form>
                                        </div>
                                        <div class="col-xs-12 col-sm-7" *ngIf="!tipoSeleccionado">
                                            <div class="card">
                                                <div class="card-body">
                                                    <table class="rbt-table table">
                                                        <thead>
                                                            <tr>
                                                                <th>Tipo</th>
                                                                <th>Nombre</th>
                                                                <th>Status</th>
                                                                <th>Activar</th>
                                                                <th>Opciones</th>
                                                            </tr>
                                                        </thead>
                            
                                                        <tbody>
                                                            <ng-container *ngFor="let tipodepago of tiposdepagos">
                                                                <tr>
                                                                    <td>{{tipodepago.tipo}}</td>
                                                                    <td>{{tipodepago.bankName}}</td>
                                                                    <td>
                                                                        <span class="badge bg-success" *ngIf="tipodepago.status === 'ACTIVE'">Activo</span>
                                                                        <span class="badge bg-danger" *ngIf="tipodepago.status === 'INACTIVE'">Inactivo</span>
                                                                    </td>
                                                                    <td>
                                                                        <!-- <div class="status-toggle d-flex justify-content-between align-items-center">
                                                                            <input type="checkbox"  class="check"  [checked]="{'check': tipodepago.status === 'ACTIVO'}" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipodepago.status" (change)="cambiarStatus(tipodepago)">
                                                                            <label  class="checktoggle">checkbox</label>
                                                                        </div> -->
                    
                                                                        <select
                                                                        class="form-control form-select-solid fw-bolder"
                                                                        name="status" [ngModelOptions]="{standalone: true}" [(ngModel)]="tipodepago.status" (change)="cambiarStatus(tipodepago)"
                                                                        placeholder="status">
                                                                          <option value="">Seleccione</option>
                                                                          <option value="ACTIVE">Activo</option>
                                                                          <option value="INACTIVE">Inactivo</option>
                                                                          </select>
                                                                    </td>
                                                                    <td>
                                                                        <a class="btn btn-outline-primary btn-sm"
                                                                                href="#" onclick="return false;" (click)="selectedType(tipodepago)" title="Edit"><i class="fa fa-eye pl--0"></i></a>
                                                                        <a class="btn btn-outline-danger btn-sm"
                                                                                href="#" onclick="return false;" (click)="deleteTipoPago(tipodepago)" title="delete"><i class="fa fa-trash pl--0"></i></a>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                           
                                                        </tbody>
                                                    </table>
                                                </div>
                    
                                            </div>
                                        </div>
                                       </div>
                                    <div class="row" *ngIf="tipoSeleccionado">
                                        <div class="card"  >
                                            <div class="card-body">
                                                
                                                    <div class="row ">
                                                        <div class="col-xs-12 col-sm-6 col-md-6 ">
                                                            <div class="rbt-form-group">
                                                                <b >
                                                                    Tipo de Pago</b><br>
                                                                {{tipoSeleccionado.tipo}}
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 " *ngIf="tipoSeleccionado.email">
                                                            <div class="rbt-form-group">
                                                                <b >
                                                                   Email</b><br>
                                                                {{tipoSeleccionado.email}}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 " *ngIf="tipoSeleccionado.ciorif">
                                                            <div class="rbt-form-group">
                                                                <b >
                                                                    ci orif</b><br>
                                                                    {{tipoSeleccionado.ciorif}}
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 " *ngIf="tipoSeleccionado.phone">
                                                            <div class="rbt-form-group">
                                                                <b > Teléfono</b><br>
                                                                {{tipoSeleccionado.phone}}
                                                            </div>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 " *ngIf="tipoSeleccionado.bankName">
                                                            <div class="rbt-form-group">
                                                                <b > Nombre del Banco</b><br>
                                                                {{tipoSeleccionado.bankName}}
                                                            </div>
                                                        </div>
                                                        <br>
                                                        <div class="col-xs-12 col-sm-6 col-md-6 " *ngIf="tipoSeleccionado.bankAccount">
                                                            <div class="rbt-form-group">
                                                                <b > Cuenta Bancaria</b><br>
                                                                {{tipoSeleccionado.bankAccount}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                    
                                                   
                                                    
                                            </div>
                                                
                                                
                                        </div>
                                    </div>
                                    <div *ngIf="tipoSeleccionado">
                                        <button class="btn btn-primary btn-sm" (click)="tipoSeleccionado = null">Regresar</button>
                                    </div>
                                    <!-- Start Profile Row  -->
                                    
                                    <!-- End Profile Row  -->
                                </div>

                            
                        </div>

                    </div>
                </div>
                <!---side bar responsive table-->
                <div class="div-responsive2"></div>
                <!---side bar responsive table-->

            </div>


        </div>

    </div>
</section>
<app-menu-footer></app-menu-footer>
