<ul class="post"  >
    <li class="group" >
        <div class="div-group" *ngFor="let item of profiles">
            <div class="foto">
                <div class="post-date">
                    <a [routerLink]="['/especialista/', item.user_id]">
                        <img src="assets/users/5.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="info">
                <h2>{{item.surname}}</h2>
                <h3>{{item.speciality_title }}</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </li>
</ul>