<ul class="post">
    <li class="group">
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <a href="lawyer-profile.html">
                        <img src="assets/users/5.jpg" alt="">
                    </a>
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/6.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/8.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="div-group">
            <div class="foto">
                <div class="post-date">
                    <img src="assets/users/7.jpg" alt="">
                </div>
            </div>
            <div class="info">
                <h2>Subject</h2>
                <h3>Category.</h3>
                <div class="div1-home">

                    <div class="stars">
                        <ul>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li class="active"><i class="fa fa-star"></i></li>
                            <li><i class="fa fa-star"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </li>
</ul>